.lock {
  width: 12.7%;
  height: 7.3%;
  left: 68.5%;
  top: 41.8%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.vase {
  width: 7.7%;
  height: 13.7%;
  left: 27.7%;
  top: 44%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.text1 {
  background-color: red;
  width: 5.6%;
  height: 1.7%;
  left: 43.9%;
  top: 32.2%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.text2 {
  background-color: green;
  width: 5.7%;
  height: 1.5%;
  left: 43.9%;
  top: 36%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.text3 {
  background-color: blue;
  width: 5.7%;
  height: 1.5%;
  left: 43.9%;
  top: 38.9%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.computer {
  width: 2.7%;
  height: 14.1%;
  left: 93.6%;
  top: 61.5%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.sewer {
  width: 11.4%;
  height: 11.4%;
  left: 9.6%;
  top: 77.3%;
  cursor: default;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.clock {
  width: 15.4%;
  height: 26.4%;
  left: 79.8%;
  top: 2.8%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.lockers {
  width: 10.6%;
  height: 15.4%;
  left: 83.6%;
  top: 52.5%;
  cursor: default;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.car {
  width: 14.4%;
  height: 11.5%;
  left: 51.8%;
  top: 18.3%;
  position: absolute;
  cursor: default;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.wrench {
  width: 16.6%;
  height: 13.9%;
  left: 74.1%;
  top: 17.3%;
  position: absolute;
  cursor: default;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.matches {
  width: 9.7%;
  height: 17.3%;
  left: 34.6%;
  top: 13.3%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.knife {
  width: 22.9%;
  height: 14.7%;
  left: 52.9%;
  top: 73.8%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.candle {
  width: 8.2%;
  height: 8.7%;
  left: 13.6%;
  top: 25.5%;
  position: absolute;
  display: block;
  z-index: 5;
  overflow: hidden;
}

.scanningDevice {
  position: absolute;
  left: 80.38%;
  top: 50.31%;
  width: 2.56%;
  height: 7.43%;
  z-index: 5;
  overflow: hidden;
  display: block;
}

.merchantPhoto {
  position: absolute;
  left: 57.34%;
  top: 50.31%;
  width: 4.35%;
  height: 8.05%;
  z-index: 5;
}

.computerSpy {
  position: absolute;
  left: 30.26%;
  top: 52.1%;
  width: 3.28%;
  height: 3.24%;
  z-index: 5;
}

.topElectricalBox {
  position: absolute;
  left: 89.77%;
  top: 10.96%;
  width: 7.34%;
  height: 6.94%;
  z-index: 5;
}

.hanger {
  position: absolute;
  left: 93.71%;
  top: 14.08%;
  width: 3.53%;
  height: 3.4%;
  z-index: 5;
}

.inkwell {
  position: absolute;
  left: 20.28%;
  top: 33.33%;
  width: 23.06%;
  height: 16.17%;
  z-index: 5;
}

.hologram {
  position: absolute;
  left: 63.36%;
  top: 5.83%;
  width: 15.52%;
  height: 43.04%;
  z-index: 5;
}

.hologramBottom {
  position: absolute;
  left: 59.22%;
  top: 47.41%;
  width: 23.97%;
  height: 6.8%;
  z-index: 5;
}

.blob {
  background: rgba(51, 217, 178, 1);
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
