#puzzle-map {
  position: relative;
  display: block;
  width: 700px;
  margin: auto;
}

#puzzle0 {
  position: relative;
  display: block;
  height: 50%;
  margin: auto;
}

#puzzle0-submit {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
}
